html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: green;
    background-color: black;
    /* color: green; */
    /* background-color: white; */

}

html.lt-ie9, html.lt-ie9 body {
    width: auto;
    height: 100px;
}

.unsupported-browser {
    height: 30px;
    line-height: 30px;
    padding: 5px 0 5px 45px;
    margin: 8px 8px 8px 100px;
    background: url(ie-notice.png) no-repeat center left;
    display: none;
}
html.lt-ie9 .unsupported-browser {
    display: block;
}

.nav-button {
    position: absolute;
    top: 8px;
    left: 8px;
}

#docs-list {
    margin: 50px 8px 8px 8px;
}

#docs-list .docs {
    border-bottom: 1px solid #ccc;
    margin: 12px 0;
}

html.lt-ie9 #graph-container {
    display: none;
}

#split-container {
    height: 100%;
    width: 100%;
}

#graph-container {
    /* width: 60%; */
    float: left;
    height: 100%;
    overflow-y: scroll;
    visibility: hidden;
}

#docs-container {
    /* width: 40%; */
    height: 100%;
    float: left;
    position: relative;
/*    border-top: 3px solid #000; */
    display: none;
    overflow-y: scroll;
}
#docs-close {
    display: block;
    position: fixed;
    font-size: 2em;
    width: 24px;
    height: 24px;
    line-height: 24px;
    right: 16px;
    background: white
    color: green;
    text-align: center;
    text-decoration: none;
}
#docs-close:hover {
    background: #ccc;
}
#docs-scroll {
    overflow-y: scroll;
}
#docs {
    padding: 8px;
}

.docs h2 {
    font-size: 24px; /* h3 */
    margin-top: 0;
}
.docs h3 {
    font-size: 14px; /* h4 */
}
.docs h2 em, .docs h3 em {
    font-size: 8px;
    color: #999;
    padding-left: 4px;
    font-style: normal;
}
.docs pre {
    margin: 8px;
    padding: 4px;
}
.docs .select-object.missing {
    color: #c7254e;
}
