.link {
    /* fill: none; */
    /* stroke: #666; */
    /* stroke-width: 1.5px; */
    /* opacity: 1.0; */
    marker-end: url(#end);
    
    transition: opacity 250ms;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
}

marker#end {
    fill: green;
    stroke: green;
    /* fill: black; */
    /* stroke: black; */
    
    /* stroke-width: 10px; */
}

.node rect {
    stroke-width: none; 
    /* fill: blue; */
    transition: opacity 250ms;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
}

.node text {
    fill: black;    
    font: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    pointer-events: none;
}

.node.selected rect {
    filter: url(#blue-glow);
}

body.firefox .node.selected rect {
    filter: none;
    stroke: #000;
    stroke-width: 2px;
}

.link.inactive,
.node.inactive rect,
.node.inactive text {
    opacity: .3;
}

.node.inactive.selected rect,
.node.inactive.selected text {
    opacity: .3;
}

.legend {
    position: fixed;

}

.legend .category rect {

    stroke-width: 1px;
}

.legend .category text {
    fill: green;
    /* fill: black;     */
    font: 10px sans-serif;
    pointer-events: none;
}
